/* Estilos globales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    font-family: 'Share Tech Mono', monospace;
    min-height: 100vh;
}

/* Estilos para la barra de navegación */
.header {
    background-color: #333; /* Color de fondo de la barra de navegación */
    padding: 20px 0; /* Aumenta el espacio entre el contenido y el borde superior/inferior de la barra */
    display: flex;
    justify-content: space-between;
    position: fixed; /* Fija la barra en la parte superior */
    top: 0; /* Alinea la barra en la parte superior */
    width: 100%; /* Barra de ancho completo */
    z-index: 999; /* Asegura que la barra esté encima de otros elementos */
}

.menu {
    display: flex;
    align-items: center;
}

.Logo {
    color: #fff; /* Color del texto del logotipo */
    text-decoration: none;
    font-size: 24px; /* Tamaño de fuente del logotipo */
    margin-right: 20px; /* Espacio a la derecha del logotipo */
}

.menu-icono {
    display: none; /* No mostrar el icono del menú en tamaños más grandes */
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar li {
    margin: 0 20px; /* Aumenta los márgenes entre elementos de la lista */
}

.navbar a {
    text-decoration: none;
    color: #fff; /* Color de texto de los enlaces en la barra de navegación */
}

.submenu {
    position: relative;
    cursor: pointer;
}

.hijos {
    display: none;
    position: absolute;
    background-color: #333; /* Color de fondo del menú desplegable */
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
}

.hijos li {
    padding: 10px;
}

/* Estilos para el contenido principal */
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #333;
}

.countdown {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.countdown div {
    display: grid;
    place-items: center;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 30px 10px;
}

p {
    display: grid;
    place-items: center;
    border: solid 1px #fff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    background-color: #ff748c;
}

span {
    display: block;
    padding: 10px;
    text-align: center;
    color: #74ffe7;
    font-size: 1.5rem;
    font-weight: 400;
}

.final-sms {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    transform: translateY(-100%);
    transition: ease-in-out 0.5s;
    background-color: #333;
}

.final-sms h2 {
    text-align: center;
    font-size: 100px;
    color: #fff;
}
